@tailwind base;
@tailwind components;
@tailwind utilities;

/*Global styles*/
h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    font-weight: 600;
    font-family: 'Slabo 27px', serif;
    margin-bottom: 30px;
}

small {
    display: block;
}

h1 {
    font-size: 40px;
}

h1::after,
h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    /*background-color: #79e0c5;*/
    background: linear-gradient(to right, #18edc9, #45ff86);
    height: 2px;
    width: 100%;
}

a {
    color: #00ab7f;
    text-decoration: underline;
}

/*Tailwind styles*/
.btn {
    text-decoration: none;
    position: relative;
    padding: 10px 20px;
    z-index: 2;
    color: #2e3332;
    transition: transform 300ms ease;
}

.btn span {
    color: #2e3332;
}
.btn:hover {
    transform: translate3d(-6px, -6px, 0);
}
.btn:hover::after {
    transform: translate3d(6px, 6px, 0);
}

.btn::before,
.btn::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
}
.btn::before {
    background: linear-gradient(to right, #18edc9, #45ff86);
    z-index: -1;
}
.btn::after{
    z-index: -2;
    background-color: #00ab7f;
    transition: all .3s ease;
}


/*Base element styles - mobile*/
header {
    height: 120px;
    margin: auto;
    /*padding-top: 20px;*/
}

.quibs-logo::after {
    display: none;
}

.quibs-logo a {
    color: #fff4ed;
    text-decoration: none;
    font-size: 60px;
    position: relative;
}

.quibs-logo a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10px;
    background-color: #79e0c5;
    height: 2px;
    width: 50%;
    /*transition: width 300ms ease;*/
}

body {
    min-height: 100%;
    position: relative;
    padding: 50px 30px;

    background: #ff6f61; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ff6f61 0%, #ff7f59 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ff6f61 0%,#ff7f59 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ff6f61 0%,#ff7f59 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6f61', endColorstr='#ff7f59',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-repeat: no-repeat;
}

#app {
    /*Organizing content*/
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    padding: 20px;
}

.content {

}

main,
aside {
    background: #fff4ed;
    min-height: 300px;
    margin-bottom: 30px;
}

/*Home Styles*/
.spotlight-comment {
    font-size: 20px;
    font-style: italic;
}
.spotlight-user {
    font-size: 18px;
    font-weight: 700;
    color: #00ab7f;
}

.description {
    margin-bottom: 50px;
    font-size: 20px;
}

.description h1 {

}

.see-all-posts {
    padding: 10px 20px;
    border-radius: 2px;
    background-color: #79e0c5;
    color: #2e3332;
    text-decoration: none;
    transition: background-color 300ms ease;
}

.see-all-posts:hover {
    background-color: #45ff86;
}

/*Posts styles*/
.post {
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
}
.post-title {
    font-size: 20px;
    font-weight: 700;
    color: #ff6f61;
}
.post-title span {
    color: #2e3332;
}

.blog-posts-all {
    padding: 20px;
    text-align: left;
}
.read-more {

}

/*User styles*/
.users-all {
    padding: 20px;
    text-align: left;
}
.users-all li {
    margin-bottom: 30px;
}
.username a {
    font-weight: 600;
}
/*Vue-specific styles*/
#app {
    font-family: 'Assistant', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2e3332;
}
#nav {
    padding: 30px;
}

#nav a {
    font-weight: 700;
    color: #2e3332;
    text-decoration: none;
}

#nav a.router-link-exact-active {
    color: #79e0c5;
    text-decoration: underline;
}

/*Desktop*/
@media (min-width: 768px) {
    /*Header/Body/Footer*/
    header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;

        /*content*/
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
    }
    body {
        min-height: 100vh;
    }

    /*Flexy stuff*/
    .flex-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .main-flex {
        flex: 0 0 60%;
    }
    .aside-flex {
        flex: 0 0 30%;
    }
    /*App view stuff*/
    #app {
        /*This is the App.vue #app*/
    }

    /*Blog stuff & Users*/
    .blog-posts-all,
    .users-all {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .blog-posts-all li,
    .users-all li {
        flex: 0 0 45%;
    }
}

@media (min-width: 1024px) {
    .users-all {
        justify-content: flex-start;
    }
    .users-all li {
        flex: 0 0 33%;
    }
}

@media (min-width: 1280px) {
    .users-all li {
        flex: 0 0 25%;
    }
}