@tailwind base;
@tailwind components;
@tailwind utilities;

/*Global styles*/
* {
    /*transition: background-color 300ms ease;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: 'Slabo 27px', serif;
}

h1 {
    font-size: 40px;
}

/*Tailwind styles*/
.btn {
    transition: all 300ms ease;
    position: relative;
    z-index: 1;
}
.btn::before:hover {
    transform: translate3d(-6px, -6px, 0);
    background-color: #b5ffeb;
}

.btn::before,
.btn::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 0;
}

.btn::before {
    z-index: 1;
    @apply font-bold py-2 px-4 rounded;
    background-color: #79e0c5;
}

.btn::after {
    z-index: 0;
    background-color: #79e0c5;
}

/*Base element styles*/
header {
    position: absolute;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;

    /*content*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 0 20px;*/
}

header h1 {
    color: #fff4ed;
    font-size: 60px;
    position: relative;
}

header h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10px;
    background-color: #79e0c5;
    height: 2px;
    width: 0;
    transition: width 300ms ease;
}

header h1.loaded::after {
    width: 50%;
}

body {
    position: relative;
    padding: 50px 30px;
    height: 100vh;
}

#app {
    /*This is the App.vue #app*/

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    /*Organizing content*/
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #ff6f61; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ff6f61 0%, #ff7f59 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ff6f61 0%,#ff7f59 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ff6f61 0%,#ff7f59 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6f61', endColorstr='#ff7f59',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-repeat: no-repeat;
}

.wrapper {
    padding: 20px;
}

.content {

}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
}

main,
aside {
    background: #fff4ed;
    min-height: 300px;
}

.main-flex {
    flex: 0 0 60%;
}
.aside-flex {
    flex: 0 0 30%;
}


/*Posts styles*/

/*Vue-specific styles*/
#app {
    font-family: 'Assistant', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2e3332;
}
#nav {
    padding: 30px;
}

#nav a {
    font-weight: 300;
    color: #2e3332;
}

#nav a.router-link-exact-active {
    color: #79e0c5;
}
